body{
   background: rgb(22, 22, 27);
    background: linear-gradient(90deg, rgba(22, 22, 27, 1) 18%, rgba(72, 72, 83, 1) 68%, rgba(29, 38, 40, 1) 96%);
}

.imageProduct{
    width: 150px;
    height: 150px;
}

.thePage {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
      
    
  }

.allProducts{
    display: flex;
    justify-content: center;
    flex-wrap: wrap
    
}

.oneProduct{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid #ffffff;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin: 10px;
    padding:30px 50px 30px 50px;
    min-width: 250px;
    max-width: 251px;
    text-decoration: none;
    
}

.artigo{
 white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  color: white;
  text-decoration: none;
  
}


.nameProduct{
    font-weight: bold;
    }

.ordenar{
  color: white  ;
}


.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #ffffff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
   
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e,#38ef7d);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}
/* demo */


.orderForm{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.buttonsOrderContainer{
  display: flex;
  gap: 15px;

}

.order {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
  font-weight: bold;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
  min-width: 150px;
}
.order:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.order:active {
	position:relative;
	top:1px;
}

.backToTop{
  display: none;
  box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
  font-weight: bold;
	font-size:17px;
  margin-top: 5px;
  margin-bottom: 15px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
  min-width: 150px;
}

@media (max-width: 550px) {

  .buttonsOrderContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

}

@media (max-width: 850px) {


  .backToTop{
    display: block;
  }
}