.navbar{
    height: 75px;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    font-weight: bold;
   
}

.botão {
    border: 2px solid rgb(255, 255, 255);
    font-weight: bolder;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    min-width: 104px;
    text-align: center;
}

.botão:hover{
    background-color: white;
    color: black;
    
}

@media (max-width:425px) {


    .navbar{
        height: 75px;
        display: flex;
        justify-content: center;
        gap: 5px;
        align-items: center;
        font-weight: bold;
       
    }


    
}