.navbar{
    background: rgb(22, 22, 27);
    background: linear-gradient(90deg, rgba(22, 22, 27, 1) 18%, rgba(72, 72, 83, 1) 68%, rgba(29, 38, 40, 1) 96%);
    height: 75px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
   
}

.botão {
    border: 2px solid rgb(255, 255, 255);
    font-weight: bolder;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
     min-width: 85px;
     text-align: center;
}

.botão:hover{
    background-color: white;
    color: black;
    
}