header{
    color: #FF9E42;
    font-size: 2.3rem;
    text-align: center;

}

.loginDiv{

    display: flex;
    flex-direction: column;
    gap: 5rem;

}

.loginForm ,
.teamMembersName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem
}

label{
    text-align: center;
}



.loginForm > form > input,
input,
label,
select,
option
 {
    padding:3px; 
    font-size:.9rem; 
    border-color:#cccccc; 
    background-color: #ffffff;
    border-style:solid; 
    border-width:2px; 
    border-radius:15px; 
    box-shadow: 0px 0px 5px 0px rgba(42,42,42,.75); 
    width: 75%;
    padding-left: 5%;
}


.loginbtn {
    background: #FF9E42;
    background-image: -webkit-linear-gradient(top, #FF9E42, #FFCB99);
    background-image: -moz-linear-gradient(top, #FF9E42, #FFCB99);
    background-image: -ms-linear-gradient(top, #FF9E42, #FFCB99);
    background-image: -o-linear-gradient(top, #FF9E42, #FFCB99);
    background-image: -webkit-gradient(to bottom, #FF9E42, #FFCB99);
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    color: #315B29;
    font-family: Brush Script MT;
    font-size: 20px;
    font-weight: 100;
    padding: 20px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 0 0 0 #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .loginbtn:hover {
    border: solid #7A7A7A 1px;
    background: #A9C2E9;
    background-image: -webkit-linear-gradient(top, #A9C2E9, #FFFFFF);
    background-image: -moz-linear-gradient(top, #A9C2E9, #FFFFFF);
    background-image: -ms-linear-gradient(top, #A9C2E9, #FFFFFF);
    background-image: -o-linear-gradient(top, #A9C2E9, #FFFFFF);
    background-image: -webkit-gradient(to bottom, #A9C2E9, #FFFFFF);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

 .signupLink{
    font-weight: bolder;
    color: #FF9E42;
 }

 .goToRegister{
    color: black;
    text-decoration: none;
    color: #FF9E42;

 }