*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #315B29;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}