.home{
    font-size: 40px;
    font-weight: bold;
    color: brown;
    text-align: center;
}

.logoContainer{
display: flex;
justify-content: center;
align-items: center;
margin-top: 50px;
}

.logo{
    width: 45%;
    
}