.homePage {
    background: rgb(22, 22, 27);
    background: linear-gradient(90deg, rgba(22, 22, 27, 1) 18%, rgba(72, 72, 83, 1) 68%, rgba(29, 38, 40, 1) 96%);

}


.logoContainer {
    padding-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 200px;
    width: 400px;
}

.threeContainers {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-evenly;

}

.containerTitle {
    font-size: 1.6rem;
    color: white;
    font-weight: bolder;
    font-family: Georgia, serif;
}

.missionContainer,
.aboutUsContainer,
.servicesContainer {
    color: white;
    max-width: 500px;
    padding: 10px 15px 5x 15px;
    border: 2px solid white;
    box-shadow: 2px 3px 5px 0px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 2px 3px 5px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 2px 3px 5px 0px rgba(255, 255, 255, 0.75);
    line-height: 30px;
    font-family: Georgia, serif;
    text-align: justify;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/*

    -webkit-box-shadow: 3px 3px 6px 0px rgba(237, 237, 237, 1);
    -moz-box-shadow: 3px 3px 6px 0px rgba(237, 237, 237, 1);
    box-shadow: 3px 3px 6px 0px rgba(237, 237, 237, 1);

    */

@media (max-width:850px) {

    .homePage {
        height: 100vh
    }

    .logo {

        width: 60%
    }

    .threeContainers {
        margin-top: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;

    }

    .missionContainer,
    .aboutUsContainer,
    .servicesContainer {
        color: white;
        min-width: 80%;
        max-width: 80%;
        padding: 10px 15px 5x 15px;
        border: 2px solid white;
        box-shadow: 2px 3px 5px 0px rgba(255, 255, 255, 0.75);
        -webkit-box-shadow: 2px 3px 5px 0px rgba(255, 255, 255, 0.75);
        -moz-box-shadow: 2px 3px 5px 0px rgba(255, 255, 255, 0.75);
        line-height: 30px;
        font-family: Georgia, serif;
        text-align: justify;
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }



}